h1 {
  font-family: 'Orbitron', sans-serif;
  color: #21992b;
}

.container {
  background-color: #f8f8f8;
  min-height: 300px;
  padding: 10px;
}

#resultheader {
  display: none;
}

.fancyping {
  color: #5f8af0;
  font-weight: bold;
}

.fancypong {
  color: #1f38ec;
  font-weight: bold;
}

.fancypingpong {
  color: #f748ba;
  font-weight: bold;
}
